:root {
  --success: #046904;
  --error: #fa0404;
  --warning: #e9c70a;
  --info: #086397;
  --success-bg: #a0f8a0;
  --error-bg: #f5bcbc;
  --warning-bg: #f4f7c9;
  --info-bg: #a1d8f8;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
  padding: 8px 12px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: toast-slide-in 0.3s ease-out;
}

.toast.top-right,
.toast.bottom-right {
  animation: toast-slide-in 0.3s ease-out;
}

.toast.top-left,
.toast.bottom-left {
  animation: toast-slide-in-left 0.3s ease-out;
}

.toast.closing {
  animation: toast-slide-out 0.3s ease-out forwards;
}



.toast-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toast[data-toast-type="info"] {
  background-color: var(--info-bg);
  color: var(--info);
}

.toast[data-toast-type="success"] {
  background-color: var(--success-bg);
  color: var(--success);
}

.toast[data-toast-type="warning"] {
  background-color: var(--warning-bg);
  color: var(--warning);
}

.toast[data-toast-type="error"] {
  background-color: var(--error-bg);
  color: var(--error);
}

.toast-close {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-close:hover {
  cursor: pointer;
  opacity: 0.7;
}


/* Progress Bar Wrapper */
.toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0 0 10px 10px; /* rounded bottom corners */
  overflow: hidden;
}

/* Progress Bar itself */
.toast-progress-bar {
  height: 100%;
  width: 100%; /* will shrink with JS */
  transition: width 0.1s linear;
}

/* Type-specific colors for progress bar */
.toast[data-toast-type="info"] .toast-progress-bar {
  background-color: var(--info);
}

.toast[data-toast-type="success"] .toast-progress-bar {
  background-color: var(--success);
}

.toast[data-toast-type="warning"] .toast-progress-bar {
  background-color: var(--warning);
}

.toast[data-toast-type="error"] .toast-progress-bar {
  background-color: var(--error);
}



@keyframes toast-slide-in {
  from { transform: translateX(50px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes toast-slide-in-left {
  from { transform: translateX(-50px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes toast-slide-out {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(50px); opacity: 0; }
}

@media (max-width: 600px) {
  .toast {
    min-width: 250px;
    max-width: 90vw;
    padding: 6px 10px;
  }
}