:root {
    --success: #05ad05;
    --danger: #fa0404;
    --info: #22abfa;
    --success-bg: #222;
    --danger-bg: #521d1d;
    --info-bg: #222;
}

.toast {
    width: 340px;
    border-radius: 6px;
    border: 2px solid var(--danger);
    background-color: var(--danger-bg);
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-betwee
}

.toast-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.toast-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 0;
    font-size: 35px;
    padding: 0;

}

.toast-content {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 95%;
}
